// CSS Reset
@import-normalize;

// Variable
$bgc-primary: #202020;

// Mixin package
@import 'mixin';

// Partials
@import 'writing-bar';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  @include size(100%, 100vh);
  background-color: $bgc-primary;
  position: relative;
}