/* CSS Reset */
@import-normalize;

/* Variable */
// Background Color
$bgc-primary: #202020;
//Text Color
$tc-primary: white;
$tc-input: #303030;
//Button color
$btnc-hover: lightblue;
//Font Primary
$font-primary: 'Roboto';

/* Font */
@import 'font';

// Mixin package
@import 'mixin';

// Partials
@import 'writing-bar';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  @include size(100%, 100vh);
  background-color: $bgc-primary;
  position: relative;
}